{{!-- the card.hbs makes the card with handlebars. this card..this MOD is required by templateBuilder.js --}}
<div class="col-md-4">
  <div class="card" style="width: 14rem;">
    {{!-- if there is a poster then link the URL to the correct poster...if else then show the no poster img --}}
  	{{#if poster_path}}
      <img id="{{id}}-image" class="card-img-top" src="http://image.tmdb.org/t/p/w342/{{poster_path}}" alt="Card image cap">
  	{{else}}
      <img class="card-img-top" src="images/noposter.jpg" alt="Card image cap">
    {{/if}}
    <div class="card-block">
      <h4 id="{{id}}-title" class="card-title">{{title}}</h4>
      <p id="{{id}}-date" class="card-text">{{release_date}}</p>
    </div>
    {{!-- list of the 3 major actors  --}}
    <ul class="list-group list-group-flush">
    	{{#each castList}}
        <li class="{{../id}}-cast list-group-item">{{name}}</li>
      {{/each}}
    </ul>
    {{!-- link to add to watchlist --}}
    <div class="card-block">
      <a href="#" onclick="return false" id="{{id}}-add-watchlist" class="card-link" data-add-watch="{{id}}">Add to Watchlist</a>
      <div id="{{id}}-stars-container" class="hideIt">
        <p class="star" id="{{id}}-star-1">★</p>
        <p class="star" id="{{id}}-star-2">★</p>
        <p class="star" id="{{id}}-star-3">★</p>
        <p class="star" id="{{id}}-star-4">★</p>
        <p class="star" id="{{id}}-star-5">★</p>
        <p class="star" id="{{id}}-star-6">★</p>
        <p class="star" id="{{id}}-star-7">★</p>
        <p class="star" id="{{id}}-star-8">★</p>
        <p class="star" id="{{id}}-star-9">★</p>
        <p class="star" id="{{id}}-star-10">★</p>
      </div>
    </div>
  </div>
</div>