{{!-- the card.hbs makes the card with handlebars. this card..this MOD is required by templateBuilder.js --}}

{{!-- card size --}}
<div class="card" style="width: 20rem;">
{{!-- if there is a poster then link the URL to the correct poster...if else then show the no poster img --}}
	{{#if poster_path}}
	<img class="card-img-top" src="http://image.tmdb.org/t/p/w342/{{poster_path}}" alt="Card image cap">
	{{else}}
  <img class="card-img-top" src="images/noposter.jpg" alt="Card image cap">
  {{/if}}
  {{!-- block in the card that shows the tile and release date --}}
  <div class="card-block">
    <h4 class="card-title">{{title}}</h4>
    <p class="card-text">{{release_date}}</p>
  </div>
  {{!-- list of the 3 major actors  --}}
  <ul class="list-group list-group-flush">
  	{{#each castList}}
    <li class="list-group-item">{{name}}</li>
    {{/each}}
  </ul>
  {{!-- link to add to watchlist --}}
  <div class="card-block">
    <a href="#" onclick="return false" class="card-link">Add to Watchlist</a>
  </div>
</div>
